/* Hero section styles */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(126deg, rgba(170, 173, 178, 1) 0%, rgba(10, 12, 16, 1) 66%);
    height: 100%;
    width: 100%;
}

.hero-section> .text-buttons-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 42px;
}

.hero-section> .text-buttons-wrapper> .text h1{
    font-family: "Ubuntu+Condensed", sans-serif;
    font-weight: 80;
    color: #f9f9f9;
}

.hero-section> .text-buttons-wrapper> .text span{
    font-weight: 800;
    color: #f9f9f9;
}

.hero-section> .text-buttons-wrapper> .text p{
    color: #c4bcbc;
    font-size: 1.5em;
}

.text-buttons-wrapper> .buttons{
    display: flex;
    grid-gap: 20px;
    margin-top: 2rem;
}

.text-buttons-wrapper> .buttons> .left-btn{
    padding: 14px 28px;
    background-color: #1bae56;
    color: #111111;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 3px;   
}

.text-buttons-wrapper> .buttons> .right-btn{
    background-color: #111111;
    color: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 1.5rem;
}

.hero-section> .image-wrapper{
    display: flex;
    flex-direction: column;  
    justify-content: flex-end;
}

.hero-section> .image-wrapper> .photo-heading p{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 1.2em;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.hero-section> .image-wrapper> .hero-image img{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    float: right;
}